
<h1>User Settings</h1>
<h2 class="ui sub header">Update user personal , contact & payment details</h2>
<div class="ui secondary pointing menu">
  <a class="item" [routerLink]="['/personal']" routerLinkActive="active" >
    <i class="icon address book"></i>Personal Detail
  </a>
  <a class="item" [routerLink]="['/contact']" routerLinkActive="active" >
    <i class="icon address card"></i>Contact Detail
  </a>
  <a class="item" [routerLink]="['/payment']" routerLinkActive="active" >
    <i class="icon credit card"></i>Payment Detail
  </a>
</div>



<div class="ui segment" appCanAccess>
  <router-outlet></router-outlet>
</div>



<label for="save-form" class="ui button primary disabled">Save</label>